# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\amina\Desktop\all files\university\Development of Web components on the Java EE platform\ATMsystem-master\ATMsystem-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
